* {
  padding: 0;
  margin: 0;
  font-family: "ubuntu";
}
body {
  display: flex;
  background: #aaa;
}
#imgBg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.office {
  width: 75vw;
  position: relative;
  aspect-ratio: 16/9;
}
.floor {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.room {
  cursor: pointer;
  background: #fff3;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 900;
  width: 100%;
}

.conference {
  grid-column: 1/3;
  grid-row: 1;
  background: #00f4;
}

.reception {
  grid-column: 1/3;
  grid-row: 2/4;
  background: #0f04;
}

.archive {
  grid-column: 5;
  grid-row: 1;
  background: #0ff4;
}

.security {
  grid-column: 5;
  grid-row: 3;
  background: #f0f4;
}

.staff {
  grid-column: 4;
  grid-row: 3;
  background: #ff04;
}

.server {
  grid-column: 4;
  grid-row: 1;
  background: #99f4;
}
.security,
.archive,
.staff,
.server {
  width: 17vw;
}
.conference,
.reception {
  width: 29vw;
}

.sidebar {
  overflow-y: scroll;
  background: #eef;
  border: #000 0.5rem solid;
  height: 100vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.sidebar h1 {
  font-size: 1.75rem;
  background: #000;
  color: #fff;
  top: 0;
  padding: 0.7rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.cardContainer {
  flex-direction: column;
}
.staffCard {
  margin-top: 1rem;
  background: #fff;
  padding: 1rem;
  border-radius: 15px;
  transition: 0.3s;
  border: solid 1px #99f;
  cursor: pointer;
}

.staffCard:hover {
  border-bottom: solid 8px #99f;
}
#addNew {
  margin-top: 2rem;
  transition: 0.3s;
  transform: scale(0.7);
  cursor: pointer;
  padding: 1rem;
}
#addNew:hover {
  transform: scale(0.8);
}
.cardDelete {
  transition: 0.5s;
}
.cardDelete:hover {
  transform: translateY(-5px);
}
.cardEdit {
  transition: 0.5s;
}
.cardEdit:hover {
  transform: translateY(-5px);
}

/* modal form */
.modalForm {
  display: none;
  background: #0095;
  width: 100vw;
  height: 100vh;
  position: fixed;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4.1875rem);
  z-index: 10;
}
#form {
  width: 30vw;
  height: 90vh;
  overflow-y: scroll;
  background: #fff;
  border: #000 solid 0.1875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding-bottom: 2rem;
  position: relative;
  animation: appear 1s;
}
#form h1 {
  font-size: 1.75rem;
  background: #000;
  color: #fff;
  top: 0;
  padding: 0.7rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
#form > input,
select {
  width: 60%;
  border: #222 1px solid;
  border-radius: 25px;
  background: transparent;
  font-size: 1rem;
  text-align: center;
}
#form input:focus {
  outline: none;
}
#pfp {
  border-radius: 100%;
  border: #000 dotted 0.1875rem;
  aspect-ratio: 1/1;
  transform: scale(1.5);
}
#aj {
  font-size: 1rem;
  padding: 0.5rem;
  background: #fff;
  border: solid black 1px;
  position: relative;
  z-index: 3;
  transition: 0.5s ease;
}
.wr button:hover {
  top: 4px;
  left: 4px;
}
.addExp {
  font-size: 1rem;
  background: #fff;
  border: solid black 1px;
  padding: 0.2rem;
  margin: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 800;
}
.exForm {
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #778;
  box-shadow: 10px 5px 10px #ddd;
  height: 20rem;
  font-size: 1rem;
  border-radius: 25px;
  gap: 1rem;
  position: relative;
  animation: appear ease 0.2s;
}
.exForm input {
  border: solid white 1px;
  background: #fff;
  border-radius: 25px;
}
.exp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
/* wr */
.wr {
  position: relative;
  z-index: 1;
}
.wr::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  right: -8px;
  bottom: -8px;
  background: #000;
  z-index: -1;
}
.wr:hover::after {
  background-position: 100% 0%;
}
/* ROOM AFTER */
.conference::after {
  content: "+";
  color: #fff;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: scale(0);
  transform: opacity(0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00f;
  transition: 0.3s;
}
.conference:hover::after {
  transform: scale(1);
  box-shadow: 0 0 20px #00f;
}
.server::after {
  content: "+";
  color: #fff;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: scale(0);
  transform: opacity(0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #aaf;
  transition: 0.3s;
}
.server:hover::after {
  transform: scale(1);
  box-shadow: 0 0 20px #aaf;
}

.security::after {
  content: "+";
  color: #fff;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: scale(0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f0f;
  transition: 0.3s;
}
.security:hover::after {
  transform: scale(1);
  box-shadow: 0 0 20px #f0f;
}

.archive::after {
  content: "+";
  color: #fff;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: scale(0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0ff;
  transition: 0.3s;
}
.archive:hover::after {
  transform: scale(1);
  box-shadow: 0 0 20px #0ff;
}

.staff::after {
  content: "+";
  color: #fff;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: scale(0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff0;
  transition: 0.3s;
}
.staff:hover::after {
  transform: scale(1);
  box-shadow: 0 0 20px #ff0;
}

.reception::after {
  content: "+";
  color: #fff;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: scale(0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0f0;
  transition: 0.3s;
}
.reception:hover::after {
  transform: scale(1);
  box-shadow: 0 0 20px #0f0;
}

/* animations */
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(4.375rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* mobile */
@media (max-width: 720px) {
  html {
    font-size: 10px;
  }
  body {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }
  .office {
    width: 100vw;
    height: 70vh;
  }
  .sidebar {
    width: 100vw;
    height: 35vh;
    overflow-y: scroll;
  }

  #form {
    width: 70vw;
  }
  #form input,
  select {
    font-size: 1rem;
    border: solid 1px #000;
  }
  .room {
    font-size: 1rem;
  }
  .security,
  .archive,
  .staff,
  .server {
    width: 20vw;
  }
}
