* {
  padding: 0;
  margin: 0;
  font-family: "ubuntu";
}
body {
  display: flex;
  background: #aaa;
}
#imgBg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.office {
  width: 80vw;
  position: relative;
  aspect-ratio: 16/9;
}
.floor {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.room {
  background: #fff3;
  border: 0.1875rem solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 900;
  width: 100%;
}

.conference {
  grid-column: 1/3;
  grid-row: 1;
}

.reception {
  grid-column: 1/3;
  grid-row: 2/4;
}

.archive {
  grid-column: 5;
  grid-row: 1;
}

.security {
  grid-column: 5;
  grid-row: 3;
}

.staff {
  grid-column: 4;
  grid-row: 3;
}

.server {
  grid-column: 4;
  grid-row: 1;
}
.security,
.archive,
.staff,
.server {
  width: 18vw;
}
.sidebar {
  background: #fff;
  height: 100vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#addNew {
  color: #000;
  width: 2.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  position: relative;
  background: transparent;
}

/* modal form */
.modalForm {
  display: none;
  background: #0005;
  width: 100vw;
  height: 100vh;
  position: fixed;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4.1875rem);
  z-index: 10;
}
#form {
  width: 30vw;
  height: 90vh;
  overflow-y: scroll;
  background: #fff;
  border: #000 solid 0.1875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  font-size: 1.875rem;
  position: relative;
  animation: appear 1s;
}
#form h1 {
  font-size: 1.75rem;
  background: #000;
  color: #fff;
  top: 0;
  position: absolute;
  padding: 0.7rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
#form input,
select {
  border: none;
  border-bottom: black 1px solid;
  background: transparent;
  font-size: 1.5rem;
  text-align: center;
}
#form input:focus {
  outline: none;
}
#pfp {
  border-radius: 100%;
  width: 6.25rem;
  height: 6.25rem;
  border: #000 solid 0.1875rem;
}
#aj {
  font-size: 1.5rem;
  padding: 0.5rem;
  background: transparent;
  border: #000 solid 0.0625rem;
  position: relative;
  z-index: 3;
}
.addExp {
  font-size: 1.875rem;
  background: #0000;
  padding: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 800;
}
.exp {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
}
/* wr */
.wr {
  position: relative;
  z-index: 1;
}
.wr::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(90deg, green, greenyellow, yellow);
  background-size: 200% 100%;
  background-position: 0% 0%;
  transition: background-position 0.3s ease-in;
  z-index: -1;
}

.wr:hover::after {
  background-position: 100% 0%;
}
.wre {
  position: relative;
  z-index: 1;
}
.wre::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(90deg, red, pink);
  background-size: 200% 100%;
  background-position: 0% 0%;
  transition:
    background-position 0.3s linear,
    top 0.3s,
    left 0.3s,
    right 0.3s,
    bottom 0.3s;
  z-index: -1;
}

.wre:hover::after {
  background-position: 100% 0%;
}
/* animations */
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(4.375rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* mobile */
@media (max-width: 720px) {
  html {
    font-size: 10px;
  }
  body {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }
  .office {
    width: 100vw;
    height: 30vh;
  }
  .sidebar {
    width: 100vw;
    height: 70vh;
  }
  #form {
    width: 70vw;
  }
  #form input,
  select {
    font-size: 1rem;
  }
  .room {
    font-size: 1rem;
  }
  .security,
  .archive,
  .staff,
  .server {
    width: 20vw;
  }
}
