* {
  padding: 0;
  margin: 0;
  font-family: "ubuntu";
}
::-webkit-scrollbar {
  display: none;
}
body {
  display: flex;
  background: #aaa;
}
#imgBg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.office {
  width: 75vw;
  position: relative;
  aspect-ratio: 16/9;
}
.floor {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.room {
  border: 0.5rem solid #000;
  cursor: pointer;
  background: #fff3;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 900;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.conference {
  grid-column: 1/3;
  grid-row: 1;
  background: #00f4;
}

.reception {
  grid-column: 1/3;
  grid-row: 2/4;
  background: #0f04;
}

.archive {
  grid-column: 5;
  grid-row: 1;
  background: #0ff4;
}

.security {
  grid-column: 5;
  grid-row: 3;
  background: #f0f4;
}

.staff {
  grid-column: 4;
  grid-row: 3;
  background: #ff04;
}

.server {
  grid-column: 4;
  grid-row: 1;
  background: #99f4;
}
.security,
.archive,
.staff,
.server {
  width: 17vw;
}
.conference,
.reception {
  width: 29vw;
}
.gGrid {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.gGrid .staffCard {
  transform: scale(0.7);
  width: 100%;
}

.sidebar {
  overflow-y: scroll;
  background: slateblue;
  border: #000 0.5rem solid;
  height: 100vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.available {
  overflow-y: scroll;
  background: slateblue;
  border: #000 0.5rem solid;
  height: 100vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.sidebar h1 {
  font-size: 1.75rem;
  background: #000;
  color: #fff;
  top: 0;
  padding: 0.7rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.cardContainer {
  flex-direction: column;
}
.staffCard {
  margin-top: 1rem;
  background: #fff;
  padding: 1rem;
  border-radius: 15px;
  transition: 0.3s;
  border: solid 1px #99f;
  cursor: pointer;
}

.staffCard:hover {
  border-bottom: solid 8px #99f;
}
#addNew {
  border-radius: 100%;
  margin-top: 2rem;
  transition: 0.3s;
  transform: scale(0.7);
  cursor: pointer;
}
#addNew:hover {
  transform: scale(0.8);
  transform: rotate(180deg);
}
.cardDelete {
  transition: 0.5s;
}
.cardDelete:hover {
  transform: translateY(-5px);
  transform: scale(1.5);
}
.infoCard {
  transition: 0.5s;
}
.infoCard:hover {
  transform: translateY(-5px);
  transform: scale(1.5);
}

/* modal form */
.modalForm {
  display: none;
  background: #0095;
  width: 100vw;
  height: 100vh;
  position: fixed;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4.1875rem);
  z-index: 10;
}
#form {
  width: 30vw;
  height: 90vh;
  overflow-y: scroll;
  background: #fff;
  border: #000 solid 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding-bottom: 2rem;
  position: relative;
  animation: appear 1s;
}
#form h1 {
  font-size: 1.75rem;
  background: #000;
  color: #fff;
  top: 0;
  padding: 0.7rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
#form > input,
select {
  width: 80%;
  border: #222 1px solid;
  background: transparent;
  font-size: 1.5rem;
  text-align: center;
}
#form input:focus {
  outline: none;
}
#form > label {
  font-size: 2rem;
}
#pfp {
  border-radius: 100%;
  border: #000 dotted 0.1875rem;
  aspect-ratio: 1/1;
  transform: scale(1.5);
}
#aj {
  font-size: 1rem;
  padding: 0.5rem;
  background: orange;
  border: solid black 1px;
  position: relative;
  z-index: 3;
  transition: 0.5s ease;
}
.wr button:hover {
  top: 4px;
  left: 4px;
}
.addExp {
  margin: 0.5rem;
  transition: 0.5s;
}
.addExp:hover {
  transform: translateY(-8px);
}
.exForm {
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #778;
  box-shadow: 10px 5px 10px #ddd;
  height: 20rem;
  font-size: 1rem;
  border-radius: 25px;
  gap: 1rem;
  position: relative;
  animation: appear ease 0.2s;
}
.exForm input {
  border: solid white 1px;
  background: #fff;
  border-radius: 25px;
}
.exp {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
/* staff info */
.modalInfo {
  display: none;
  background: #0095;
  width: 100vw;
  height: 100vh;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 10;
  backdrop-filter: blur(10px);
}
.infoContainer {
  width: 18vw;
  height: 60vh;
  background: #fff;
  border: #000 solid 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  position: relative;
  animation: appear 1s;
  overflow: scroll;
}
.infoMain {
  background: #eee;
  border: 2px solid #ddd;
  border-radius: 25px;
  width: 95%;
  padding: 0.3rem;
  display: grid;
  grid-template-columns: auto auto;
}
.infoMain > h3,
label {
  font-size: 1rem;
}
/* CardModal */
.modalCard {
  display: none;
  background: #0095;
  width: 100vw;
  height: 100vh;
  position: fixed;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4.1875rem);
  z-index: 10;
}

/* wr */
.wr {
  position: relative;
  z-index: 1;
}
.wr::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  right: -8px;
  bottom: -8px;
  background: #000;
  z-index: -1;
}
.wr:hover::after {
  background-position: 100% 0%;
}
/* ROOM AFTER */

.room button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  font-weight: 900;
  height: 100%;
  width: 100%;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* button on hover */
.room:hover button {
  opacity: 1;
  height: 100%;
}
.room > h1{
  position: absolute;
  top: 0;
  color: white;
  background: #000;
  padding: 0.5rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* room butoon colors */
.addConference {
  background: #00f;
  box-shadow: 0 0 20px #000;
}
.addReception {
  background: #0f0;
  box-shadow: 0 0 20px #000;
}
.addServer {
  background: #aaf;
  box-shadow: 0 0 20px #000;
}
.addSecurity {
  background: #f0f;
  box-shadow: 0 0 20px #000;
}
.addArchive {
  background: #0ff;
  box-shadow: 0 0 20px #000;
}
.addStaff {
  background: #ff0;
  box-shadow: 0 0 20px #000;
}
/* animations */
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(4.375rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* mobile */
@media (max-width: 720px) {
  html {
    font-size: 8px;
  }
  body {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }
  .office {
    width: 100vw;
    height: 70vh;
  }
  .sidebar {
    width: 100vw;
    height: 35vh;
    overflow-y: scroll;
  }

  #form {
    width: 70vw;
  }
  #form input,
  select {
    font-size: 1rem;
    border: solid 1px #000;
  }
  .room {
    font-size: 1rem;
  }
  .security,
  .archive,
  .staff,
  .server {
    width: 20vw;
  }
  .room  h1{
    padding: 0;
    height: 10%;
    background-color: transparent;
  }
}
